.App {
  text-align: center;
  background-image: url(./images/login-si-pha-bg.jpg);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size:cover;
  background-position:center;
}

.login_box{
  display: inline-block;
  margin-top: 200px;
  height: 100%;
  width:35%;
  padding-top:400px;
  border-radius: 30px;
  background-color:white;
  wakakaka

}