.App {
  text-align: center;
  background-image: url(./images/login-si-pha-bg.jpg);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size:cover;
  background-position:center;
}

.login_box{
  display: inline-block;
  margin-top: 200px;
  height: 100%;
  width:35%;
  padding-top:50px;
  border-radius: 30px;
  border: 5px solid rgb(207, 200, 200);
  background-color:rgb(250, 250, 250);
}

.User_Button{
  background-color: grey; 
  color: white; 
  border: none;
}

.User_Button:focus{
  background-color: red; 
  color: white; 
  border: none;
}

.System_User_Button{
  background-color: grey; 
  color: white; 
  border: none;
}

.System_User_Button:focus{
  background-color: red; 
  color: white; 
  border: none;
}

.Login_Button{
  background-color:white; 
  color: red; 
  border: 2px solid red;
}

.Login_Button:hover{
  background-color:red; 
  color: white; 
  border: 2px solid red;
}
